*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
   
}


h1, h2, h3, h4, h5, h6, p, b {
    margin: 0;
}





.container-content-page{
    width: 100%;
    height: 80vh;
    background-image: url("/static/img/fondo.png");
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
  
    padding-bottom: 50px;
    
}

.card{
    width: 18rem;
}



.container-navbar{

    width: 70%;
    height: 15%;
    background-color: rgb(233, 233, 233);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
   
}

.container-navbar a{
    color: black;   
}



.navbar-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.navbar-content h1{
    font-size: 25px;
}

.main-navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
}


.main-navbar-responsive{
    display: none;       
}

.link-nav-container-responsive{
    display: none;
}




.main-navbar h1{
    font-size: 30px;
    text-shadow: 1px 1px 1px rgb(109, 109, 109);
    letter-spacing: 2px;
    color: black;
    
}

.item-navbar{
    display: flex;
}




.item{
    
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.item a{
    color: #2272a7;
}




.container-slider{

    width: 70%;
    height: 85%;
    color: white;
    overflow: hidden;
    position: relative;
    

}


.container-form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(243, 243, 243);
    padding: 50px;
    
}

.container-form form{
    width: 60%;
    background-color: rgb(233, 233, 233);
    margin: 20px;
    padding: 30px;
    border-radius: 8px;
    color: black;

}


.container-form h3{
  text-align: center;

}



.container-slider-content{
    width: 500%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;

}

.slides{
    width: 20%;
    transition: 1s;
    position: relative;
    margin-left: 0%;
   
}




.icon-container{
    
    position: absolute;
    height: 100%;
    padding: 0px 5px 0px 5px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: auto;
    top: 0;
    align-items: center;

}

.icon-container i{
    cursor: pointer;
}




.container-projects{
    width: 100%;
    min-height: 250px;
    background-color: rgb(243, 243, 243);
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    border-top: solid 40px rgb(165, 164, 164);;
}

.projects-content{
    width: 75%;
    height: 90%;
    align-items: center;
    text-align: center;

}


.project-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;

}

.project{
    width: auto;
    height: auto;
    margin: 10px;
    padding: 15px;
    font-size: 15px;
    

}



.project h2 {
    font-size: 10px;
}





.container-main{

    width: 100%;
    min-height: 250px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}



.main-content{
    width: 60%;
    height: 90%;
    align-items: center;
    text-align: center;

}


.main-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding-bottom: 50px;

}

.main{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 15px;
    padding-left: 40x;
    padding-right: 40px;
    font-size: 12px;

}

.main h2 {
    font-size: 10px;
}

.main img{
    width: 80px;
    height: 80px;
}

.main img:hover{

    opacity: 0.7;
      
}
   



.card-text{
    text-align: justify;
    padding-bottom: 10px;
}



.container-footer{
    width: 100%;
    min-height: 250px;
    background-color: rgb(17, 17, 17);
    display: flex;
    justify-content: center;
}

.content-footer{
    width: 60%;
}




.btn-wsp{
    position: fixed;
    width: 75px;
    height: 75px;
    bottom: 30px;
    right: 40px;
    z-index: 1;

}

.btn-wsp a{
    width: 100%;
    height: 100%;
    background-color: rgb(12, 184, 12);
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 1px 1px rgb(110, 110, 110);

}

.btn-wsp a:hover{
    background-color: green;
    cursor: pointer;
}


.btn-wsp i{
    font-size: 55px;
    color: rgb(255, 255, 255);

}






@media only screen and (min-width: 640px) and  (max-width: 1280px){


    .container-navbar{

        width: 80%;
        justify-content: space-around;
 
       
    }

    .navbar-content{
        justify-content: center;
    }


}













@media only screen and (max-height: 400px){


    
    

    .container-content-page{
        height: 90vh;
        padding-top: 0px;
        padding-bottom: 0px;

        
    }


    .card{
        width: 14rem;
    }

    .main img{
        width: 60px;
        height: 60px;
    }

    .projects-content{
        width: 90%;
    }


    .main-content{
        width: 80%;
    }


    
    .main-navbar{
        display: none;
    }



    .container-navbar{

        width: 100%;
        flex-wrap: nowrap;
        justify-content: space-between;

    }

    .navbar-content{
        display: block;
        flex-wrap: nowrap;
    }


    .main-navbar-responsive{

        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        padding: 10px;
        justify-content: space-between;
        align-items: center;
        
        
    }


    
      
      
    .link-nav-container-responsive{
 
        display: flex;
        width: 100%;
        background-color: #18202c;
        position: absolute;
        text-align: center;
        flex-direction: column;
        z-index: 1;
        transition: 1s;


    }

    .link-nav-container-responsive a{
        text-decoration: none;
        padding: 20px;
        color: #fff;
        border: solid 1px white;
        font-size: 20px;

        
    }


    .link-nav-container-responsive a:hover{
        color: #2272a7;
    }





    .responsive-icon i{
        font-size: 25px;
        cursor: pointer;
        display: flex;


        
    }



    .item-navbar{
        display: none;
    }


    .container-slider{

        width: 90%;
    
    }

    






    .container-form{

        padding: 10px;

    }


    .container-form form{
        width: 100%;
    }
    



    .main-content{
        width: 90%;    
    }
    


    

    .main-container{

        justify-content: space-between;

    }

    .main{

        padding-left: 0px;
        padding-right: 0px;

 

    }



}









@media only screen and (max-width: 640px){


    .container-content-page{
        filter: brightness(1.75);
        }

    .slides h1{
        font-size: 20px;
    }

    .slides h2{
        font-size: 15px;
    }

    .card{
        width: 15rem;
    }

    .main img{
        width: 60px;
        height: 60px;
    }


    .main-navbar{
        display: none;
    }


    
    .container-navbar{

        width: 100%;
        flex-wrap: nowrap;
        justify-content: space-between;
        height: 25%;
        background-color: #eeeeee;
  
   


    }

    .container-projects{
        padding-top: 15px;
        border-top: solid 10px rgb(213, 213, 213);
    }

    .icon-container{
        padding: 0px;
    }

    .navbar-content{
        display: block;
        flex-wrap: nowrap;
    }


    .projects-content{
        width: 90%;
    }



    .main-navbar-responsive{

        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        padding: 10px;
        justify-content: space-between;
        align-items: center;
        
        
    }


    

    .container-navbar h1{

        font-size: 30px;
        
        
    }


      
      
    .link-nav-container-responsive{
 
        display: flex;
        width: 100%;
        background-color: #18202c;
        position: absolute;
        text-align: center;
        flex-direction: column;
        z-index: 1;
        transition: .2s;


    }

    .link-nav-container-responsive a{
        text-decoration: none;
        padding: 20px;
        color: #fff;
        border: solid 1px white;
        font-size: 20px;

        
    }


    .link-nav-container-responsive a:hover{
        color: #2272a7;
    }





    .responsive-icon i{
        font-size: 25px;
        cursor: pointer;
        display: flex;


        
    }



    .item-navbar{
        display: none;
    }


    .container-slider{

        width: 90%;
    
    }

    


    .container-content-page{
        height: 40vh;
        padding-top: 0px;
        padding-bottom: 0px;

        
    }


    .container-form{

        padding: 10px;

    }


    .container-form form{
        width: 100%;
    }
    



    .main-content{
        width: 90%;    
    }
    


    

    .main-container{

        justify-content: space-between;

    }

    .main{

        padding-left: 0px;
        padding-right: 0px;

 

    }

   




}






